<!DOCTYPE html>
{% load static compress %}
{% block ng_app %}
{% endblock %}
<head>
    <meta charset='utf-8'>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- vendor's styles -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'angular-loading-bar/build/loading-bar.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'ngDialog/css/ngDialog.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'ngDialog/css/ngDialog-theme-default.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'ngDialog/css/ngDialog-theme-plain.min.css' %}" rel="stylesheet" media="screen">

    <link href="{% static 'blueimp-file-upload/css/jquery.fileupload.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'blueimp-file-upload/css/jquery.fileupload-ui.css' %}" rel="stylesheet" media="screen">

    <!-- project's styles -->
    <!--<link href="{% static 'content/css/styles.css' %}" rel="stylesheet" media="screen">-->

    {% block head_css %}{% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{% static 'html5shiv/dist/html5shiv.min.js' %}"></script>
        <script src="{% static 'respond/dest/respond.min.js' %}"></script>
    <![endif]-->

    <!-- vendor's scripts -->
    {# {% compress js %} #}
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

        <script src="{% static 'angular/angular.min.js' %}"></script>
        <script src="{% static 'angular-animate/angular-animate.min.js' %}"></script>
        <script src="{% static 'angular-cookies/angular-cookies.min.js' %}"></script>
        <script src="{% static 'angular-sanitize/angular-sanitize.min.js' %}"></script>
        <script src="{% static 'angular-route/angular-route.min.js' %}"></script>
        <script src="{% static 'angular-resource/angular-resource.min.js' %}"></script>

        <script src="{% static 'angular-ui-router/release/angular-ui-router.min.js' %}"></script>
        <script src="{% static 'angular-file-upload/angular-file-upload.min.js' %}"></script>
        <!--<script src="{% static 'blueimp-file-upload/js/jquery.fileupload-angular.js' %}"></script>-->
        <script src="{% static 'angular-loading-bar/build/loading-bar.min.js' %}"></script>
        <script src="{% static 'ngDialog/js/ngDialog.min.js' %}"></script>
    {# {% endcompress %} #}

    <!-- project's scripts -->
    {% block head_js %}

    {% endblock %}

</head>
<body>
{% block navbar_block %}
{% endblock %}
<div class="wrapper">
    {% block container %}
    {% endblock %}
</div>
</body>
</html>
