{% verbatim %}
<script type="text/ng-template" id="imagesUploaderDialog.tpl">
    <div style="width: 512px;" ng-controller="ImagesUploaderController as vm">
        <h3>Загрузка рукописей.</h3>
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Добавить файлы.</span>
            <input nv-file-select
                   uploader="vm.imagesUploader"
                   type="file"
                   name="files[]"
                   multiple>

        </span>
        <table ng-show="vm.imagesUploader.queue.length > 0" class="table">
            <thead>
            <tr>
                <th width="50%">Название</th>
                <th ng-show="vm.imagesUploader.isHTML5">Размер</th>
                <th ng-show="vm.imagesUploader.isHTML5">Прогресс</th>
                <th>Действия</th>
                <th>Пагинация</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.imagesUploader.queue">

                <td><strong>{{ item.file.name }}</strong></td>
                <td ng-show="vm.imagesUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                <td ng-show="vm.imagesUploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td nowrap>
                    <!--<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"-->
                            <!--ng-disabled="item.isReady || item.isUploading || item.isSuccess">-->
                        <!--<span class="glyphicon glyphicon-upload"></span> Upload-->
                    <!--</button>-->
                    <!--<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"-->
                            <!--ng-disabled="!item.isUploading">-->
                        <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel-->
                    <!--</button>-->
                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Удалить
                    </button>
                </td>
                <td><input type="text" ng-model="vm.pageNumbers[$index]" /></td>
            </tr>
            </tbody>
        </table>

        <div ng-show="vm.imagesUploader.queue.length > 0">
            <div>
                Общий прогресс:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': vm.imagesUploader.progress + '%' }"
                         style="width: 0%;"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s" ng-click="vm.imagesUploader.uploadAll()"
                    ng-disabled="!vm.imagesUploader.getNotUploadedItems().length" >
                <span class="glyphicon glyphicon-upload"></span> Загурзить всё
            </button>
            <button type="button" class="btn btn-warning btn-s" ng-click="vm.imagesUploader.cancelAll()"
                    ng-disabled="!vm.imagesUploader.isUploading" disabled="disabled">
                <span class="glyphicon glyphicon-ban-circle"></span> Отменить всё
            </button>
            <button type="button" class="btn btn-danger btn-s" ng-click="vm.imagesUploader.clearQueue()"
                    ng-disabled="!vm.imagesUploader.queue.length" disabled="disabled">
                <span class="glyphicon glyphicon-trash"></span> Удалить все
            </button>
        </div>
    </div>

</script>
{% endverbatim %}