{% verbatim %}
<script type="text/ng-template" id="imagesUploaderDialog.tpl">
    <div style="width: 512px;" ng-controller="ImagesUploaderController as vm">
        <h3>Загрузка рукописей.</h3>
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Выберите файлы.</span>
            <input nv-file-select
                   uploader="vm.imagesUploader"
                   type="file"
                   name="files[]"
                   multiple>

        </span>
        <table ng-show="vm.imagesUploader.queue.length > 0" class="table">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <th ng-show="vm.imagesUploader.isHTML5">Size</th>
                <th ng-show="vm.imagesUploader.isHTML5">Progress</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.imagesUploader.queue">
                <td><strong>{{ item.file.name }}</strong></td>
                <td ng-show="vm.imagesUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                <td ng-show="vm.imagesUploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                            ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                            ng-disabled="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div ng-show="vm.imagesUploader.queue.length > 0">
            <div>
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': imagesUploader.progress + '%' }"
                         style="width: 0%;"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s" ng-click="imagesUploader.uploadAll()"
                    ng-disabled="!imagesUploader.getNotUploadedItems().length" disabled="disabled">
                <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s" ng-click="imagesUploader.cancelAll()"
                    ng-disabled="!imagesUploader.isUploading" disabled="disabled">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s" ng-click="imagesUploader.clearQueue()"
                    ng-disabled="!imagesUploader.queue.length" disabled="disabled">
                <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
        </div>
    </div>

</script>
{% endverbatim %}