{% include 'app/textum/viewer/text-image.view.tpl.html' %}
{% include 'app/textum/viewer/text-image-full.view.tpl.html' %}

{% verbatim %}
<div ng-controller="ViewerController as vm" class="col-lg-6 rightView">
    <div class="jumbotron">
        <h3>Рукопись</h3>
        <hr/>
        <nav class="galleryMenu">
            <ul id="normal-view-menu">
                <li>
                    <span ng-hide="vm.isShowFullImage"
                          ng-click="vm.openImagesUploadDialog()"
                          class="btn btn-sm btn-success addImage"
                          title="Добавить страницы в галерею">
                        <span class="glyphicon glyphicon-plus glyphicon-white"></span>
                    </span>
                </li>
                <li>
                    <span ng-hide="vm.isShowFullImage"
                          ng-click="vm.openSelected()"
                          class="btn btn-sm btn-info full-view-switch"
                          title="Режим просмотра изображения">
                        <span class="glyphicon glyphicon-stop"></span>
                    </span>
                </li>
                <!-- <li>
                    <a href="#" class="btn btn-sm btn-info">
                        <span class="glyphicon glyphicon-fullscreen"></span>
                    </a>
                </li> -->
                <li>
                    <span ng-hide="vm.isShowFullImage"
                          class="btn btn-sm btn-danger clear-gallery" title="Очистить галерею"
                            ng-click="vm.deleteAll()">
                        <span class="glyphicon glyphicon-trash glyphicon-white"></span>
                    </span>
                </li>
            </ul>

            <ul ng-show="vm.isShowFullImage">
                <li>
                    <span class="btn btn-sm btn-info normal-view-switch" title="Вернуться в режим галлереи"
                            ng-click="vm.closeFullView()">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </span>
                </li>
                <!--<li>
                    <a href="#" class="btn btn-sm btn-info">
                        <span class="glyphicon glyphicon-fullscreen"></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="btn btn-sm btn-warning">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="btn btn-sm btn-success">
                        <span class="glyphicon glyphicon-plus glyphicon-white"></span>
                    </a>
                </li>--> <!-- Do we need an image adding button in fullview mode? -->
            </ul>

        </nav>

        <div class="photoGallery">
            <ul class="photoGrid">
                <div ng-hide="vm.isShowFullImage"
                     ng-repeat="image in vm.textImages | index | orderBy:'page_number':false"
                     ng-click="vm.select(image.index)"
                     ng-dblclick="vm.openFullView(image.index)">
                    <text-image image="image"></text-image>
                </div>

                <text-image-full ng-show="vm.isShowFullImage"></text-image-full>
            </ul>
        </div>

        <form class="form-inline" id="search-page" ng-submit="vm.searchPage()">
            <input class="form-control col-md-3"
                   type="text"
                   placeholder="Перейти к&hellip;"
                   ng-model="vm.searchQuery"
                   tabindex="1"/>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </form>
    </div>
</div>

{% endverbatim %}