<!DOCTYPE html>
{% load static compress %}
<html ng-app="TextumApp">
<head>
    <base href="/site/">

    <meta charset='utf-8'>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'angular-loading-bar/build/loading-bar.min.css' %}" rel="stylesheet" media="screen">

    {% block head_css %}{% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{% static 'html5shiv/dist/html5shiv.min.js' %}"></script>
        <script src="{% static 'respond/dest/respond.min.js' %}"></script>
    <![endif]-->

    {% compress js %}
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

        <script src="{% static 'angular/angular.min.js' %}"></script>
        <script src="{% static 'angular-animate/angular-animate.min.js' %}"></script>
        <script src="{% static 'angular-cookies/angular-cookies.min.js' %}"></script>
        <script src="{% static 'angular-sanitize/angular-sanitize.min.js' %}"></script>
        <script src="{% static 'angular-route/angular-route.min.js' %}"></script>
        <script src="{% static 'angular-resource/angular-resource.min.js' %}"></script>

        <script src="{% static 'angular-file-upload/angular-file-upload.min.js' %}"></script>
        <script src="{% static 'angular-loading-bar/build/loading-bar.min.js' %}"></script>
        <script src="{% static 'ngDialog/js/ngDialog.min.js' %}"></script>
    {% endcompress %}

    {% block head_js %}
        {% compress js %}
            <script>
                {% include 'front/ng_main.js' %}

                {% include 'front/sample/controllers.js' %}
            </script>
        {% endcompress %}
    {% endblock %}

</head>
<body>
<div class="wrapper">
    {% block container %}

        <h1>Front page. It works! <a href="/site/sample/">Check Sample</a></h1>
        <div ng-view></div>
    {% endblock %}
</div>
</body>
</html>
